- defaults:
    name: global
    project-type: freestyle
    concurrent: false
    publishers:
      - email-ext:
          recipients: {{ qi_ops_email }}
          aborted: true
          failure: true
    # If repository issues are encountered retry the specified number of times.
    retry-count: 5
    logrotate:
      daysToKeep: 30
    wrappers:
      - timeout:
          # Abort after these many minutes
          timeout: 40
          # Mark the build as failed
          fail: true
      - inject:
          # Let all Vagrant commands have access to the display server running on build nodes. 
          properties-content: DISPLAY=:0
