app_name: nexus

git_repository: https://github.com/avtar/nexus.git

email: your@address.com

env_runtime: linux

app_tcp_port: 9081

app_start_script: nexus.js

app_start_service: true

software_stack: nodejs

# Specifying 'lts' or 'current' will install versions '4.*' and '6.*' of Node.js respectively.
software_stack_version: lts

setup:
  - sudo yum -y install curl
  - sudo npm install -g wscat
  - npm install

commands:
  - node /home/vagrant/sync/tests/all-tests.js
